---
layout: default
---

<div class="home">

  {{ content }}

  <h1> Recent Episodes </h1>
  <ul class="post-list">
    {% for post in paginator.posts %}
    <li>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      {% if post.layout == 'episode' or post.layout == 'episode_v2' %}
      <div class="simplecast-player">
        {% if post.sharing_token %}
          {% if post.description %}
            {{ post.description }}<br />
            <br />
          {% else %}
            {{ post.content }}
          {% endif %}
          <iframe frameborder='0' height='200px' scrolling='no' seamless src='https://embed.simplecast.com/{{ post.sharing_token }}?color=3d3d3d' width='100%'></iframe>
        {% else %}
          {{ post.content }}
          <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.com/e/{{ post.simplecastId }}?style=dark' width='100%'></iframe>
        {% endif %}
      </div>
      {% else %}
        {{ post.home_text }}
      {% endif %}
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Newer</a>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% endif %}
  </div>
  <br/>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  <hr/>

  <div>
    <p>
      <h1> Support the Podcast </h1>
    </p>
    <p>
      We now have a <a target="_blank" href="https://www.teepublic.co.uk/user/previneurope"> Teepublic store </a>
      where you can get assorted Europe themed merch which goes towards supporting the podcast.
    </p>
  </div>
</div>
