<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}

    <script src="/assets/js/d3.v3.min.js"></script>
    <script src="/assets/js/topojson.v1.min.js"></script>
    <script src="/assets/js/datamaps.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.13.0/d3-legend.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.5.1/tabletop.min.js"></script>

    <main class="page-content" id="map-content" aria-label="Content">
      <div id="map"></div>

      <script>
       var publicSpreadsheetUrl = " {{page.spreadsheet}} ";

       function init() {
         Tabletop.init( { key: publicSpreadsheetUrl,
                          callback: updateInfoMentions,
                          simpleSheet: true } )
         mapState = 'mentions'
       }
      </script>

      <script src="/assets/js/toggle_map.js"></script>
      <hr>
      <div id="under-map">
        <div id="description" style="margin-left=40%;">
          <svg id="legend">
          </svg>
          <div id="legend-text">
          </div>
        </div>
        <br/>
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>

